<form @onsubmit="async() => { await Save(); }">

    <InputGroup Focus="true" Id="name" Label="Name" Type="text" @bind-Value="@(ContactInfo.Name)" />
    <InputGroup Focus="false" Id="phone" Label="Phone Number" @bind-Value="@(ContactInfo.Phone)" Type="number" />
    <InputGroup Focus="false" Id="email" Label="E-mail" @bind-Value="@(ContactInfo.Email)" Type="email" />

    <div>
        <label for="priorization">Priority</label>
        <select class="custom-select" id="priorization" @bind="@(ContactInfo.Priorization)" required>
            @foreach (var priorization in (EContactPriorization[])Enum.GetValues(typeof(EContactPriorization)))
            {
                <option value="@(priorization)">@(priorization.GetEnumDescription())</option>
            }
        </select>
    </div>

    <SubmitButton Label="Save"></SubmitButton>
</form>

@code {
    [Parameter]
    public ContactInfo ContactInfo { get; set; }

    private async Task Save()
    {
        var isSuccess = await contactRepository.Save(ContactInfo);

        if (isSuccess)
        {
            navigation.NavigateTo("/");
        }
    }
}
