<form @onsubmit="async() => { await Save(); }">
    <label for="name">Nome</label>
    <input id="name" type="text" @bind="@ContactInfo.Name" @bind:event="oninput" required/>

    <label for="phone">Telefone</label>
    <input id="phone" type="tel" @bind="@ContactInfo.Phone" @bind:event="oninput" required />

    <label for="email">E-mail</label>
    <input id="email" type="email" @bind="@ContactInfo.Email" @bind:event="oninput" required />

    <select class="custom-select" id="inputGroupSelect01" required>
        @foreach (var priorization in (EContactPriorization[])Enum.GetValues(typeof(EContactPriorization)))
        {
            <option value="@((int)priorization)">@(priorization.GetEnumDescription())</option>
        }
    </select>

    <button type="submit">Salvar</button>
</form>

@code {
    [Parameter]
    public ContactInfo ContactInfo { get; set; }

    private async Task Save()
    {

    }
}
